<div class="profile">
  <img src="<%= asset_path "profile.png" %>" class="profileimg">

  <div class="profile_right">
    <div class="profile_title">profile</div>
    <div class="profile__text">テキストテキストテキストテキストテキストテキスト</div>
  </div>
</div>


<div class="profile_middle">
 <button class="btn">メッセージ</button>

 <table class = "tag">

  <tr>
    <td>ベンチャー</td>
    <td>商社</td>
    <td>金融</td>
    <td>教育</td>
  </tr>
  <tr>
    <td>技術</td>
    <td>IT</td>
    <td>WEB</td>
    <td>IoT</td>
  </tr>
  <tr>
      <td>飲食</td>
      <td>配達</td>
      <td>インフラ</td>
      <td>水道</td>
    </tr>
</table>
</div>
<div class="company">
<p class="go">行った企業</p>
<ul class="company1">
 <li>
   <a href=""><img src="<%= asset_path "dena.png" %>" class="1img"></a>
</li>
<li>
  <img src="<%= asset_path "jal.png" %>" class="1img">
</li>
<li>
  <img src="<%= asset_path "adidas.png" %>" class="1img">
</li>
</ul>


<ul class="company2">
<li>
 <img src="<%= asset_path "vaio.png" %>" class="vaioimg">
</li>
<li>
  <img src="<%= asset_path "starbacks.png" %>" class="starbacksimg">
</li>
<li>
  <img src="<%= asset_path "trunk.png" %>" class="trunkimg">
</li>
</ul>


<ul class="company3">
<li>
  <img src="<%= asset_path "google.png" %>" class="googleimg">
</li>
<li>
  <img src="<%= asset_path "lig.png" %>" class="denaimg">
</li>
<li>
  <img src="<%= asset_path "jaxa.png" %>" class="jaxaimg">
</li>
</ul>
</div>
