<body>
<div class="profile">
  <img src="<%= asset_path "profile.png" %>" class="profileimg">

  <div class="profile_right">
    <div class="profile_title">profile</div>
    <div class="profile__text">趣味はダーツ、お遍路です。

僕は兄の影響で小学生の頃にダーツを始めたのですが、中学校では人数が足らなくて廃部に、高校では監督が嫌いすぎてすぐ辞めて、、、とにかくダーツをやる環境に恵まれていませんでした。しかし今、僕は大学のサークル活動で相撲をやっています。HIMITSUNO部屋というサークルです。部活動のような縛りはないものの、週3回練習をしています。今が一番相撲に熱くなれていると思います。中学高校と相撲をまともにやっていなかったので、みんなより出遅れてはいますが、その分真面目に練習に取り組んでいます。その甲斐あって、院内場所いう学習院内でのサークルの大会があるのですが、それで2年連続優勝することができました。
</div>
</div>


<div class="profile_middle">
 <button class="btn" id="btnn">メッセージ</button>

<div class="int">
  <p class="interested">興味のある分野</p>

 <table class = "tag">

  <tr>
    <td>ベンチャー</td>
    <td>商社</td>
    <td>金融</td>
    <td>教育</td>
  </tr>
  <tr>
    <td>技術</td>
    <td>IT</td>
    <td>WEB</td>
    <td>IoT</td>
  </tr>
  <tr>
      <td>飲食</td>
      <td>配達</td>
      <td>インフラ</td>
      <td>水道</td>
    </tr>
</table>
</div>

<div class="company">
<p class="go">行った企業</p>
<ul class="company1">
 <li>





 <%= link_to image_tag('/assets/dena.png', { :border => '0', :alt => 'リンクです'}), syukatsusalon_company_path %>





</li>
<li>
  <img src="<%= asset_path "jal.png" %>" class="1img">
</li>
<li>
  <img src="<%= asset_path "adidas.png" %>" class="1img">
</li>
</ul>


<ul class="company2">
<li>
 <img src="<%= asset_path "vaio.png" %>" class="vaioimg">
</li>
<li>
  <img src="<%= asset_path "starbacks.png" %>" class="starbacksimg">
</li>
<li>
  <img src="<%= asset_path "trunk.png" %>" class="trunkimg">
</li>
</ul>


<ul class="company3">
<li>
  <img src="<%= asset_path "google.png" %>" class="googleimg">
</li>
<li>
  <img src="<%= asset_path "lig.png" %>" class="denaimg">
</li>
<li>
  <img src="<%= asset_path "jaxa.png" %>" class="jaxaimg">
</li>
</ul>
</div>
<script>

  var
</script>
</body>
<script>
  document.getElementById('btnn').addEventListener('click'.function(){
    var 
  }
)
</script>
