<html lang="ja">

<head>
<title>top</title> 
<h1>就活サロン</h1>
<div class="header">
<img src="MIMIYAKO85_senakagasabisii20140727_TP_V.jpg "></div>
</head>

<body>
<h2>メンバー</h2>

<div class="member" >
<ul>

<li>
<img src="<%= asset_path "member.png" %>" class="suzuki">
</li><li>
<img src="<%= asset_path "member.png" %>" class="suzuki">
</li><li>
<img src="<%= asset_path "member.png" %>" class="suzuki">
</li><li>
<img src="<%= asset_path "member.png" %>" class="nakayama">
</li><li>
<img src="<%= asset_path "member.png" %>" class="nakayama">
</li><li>
<img src="<%= asset_path "member.png" %>" class="nakayama">
</li><li>
<img src="<%= asset_path "member.png" %>" class="makuri">
</li><li>
<img src="<%= asset_path "member.png" %>" class="makuri">
</li><li>
<img src="<%= asset_path "member.png" %>" class="makuri">
</li>
</ul>
</div>

<div class="saidbar">
<h2>話題になっている企業</h2>
<ul>
<img src="<%= asset_path "google.png" %>" class="googleimg1">
<br></br>
<img src="<%= asset_path "google.png" %>" class="googleimg2">
<br></br>
<img src="<%= asset_path "google.png" %>" class="googleimg3">
<br></br>
<li>〇〇さんと〇〇さんで話題に！</li>
<li>〇〇さんと〇〇さんで話題に！</li>
<li>〇〇さんと〇〇さんで話題に！</li>
</ul>
</div>
</body>

</html>
